@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<hr />

<div class="row">
    <div class="col-12">
        <a href="/Home/DescargarExcelEPPLUS" class="btn btn-success">Descargar con EPPLUS</a>
        <a href="/Home/DescargarExcelNPOI" class="btn btn-success">Descargar con NPOI</a>
        <a href="/Home/DescargarExcelClosedXML" class="btn btn-success">Descargar con ClosedXML</a>
    </div>
</div>
